<div ngFullpage (after)="doAfteer($event)">
    <div id="first-page" class="home-item" [ngStyle]="{'height': height+'px'}">
        <div id="home_content">
            <div id="home-head">
                <div id="home_head_content">
                    <img class="home_photo" src="../../assets/image/photo1.jpg" alt="">
                    <img id="my-photo" class="home_photo" src="../../assets/image/photo2.jpg" alt="">
                </div>
            </div>
            <p id="head-motto" class="home-info-introduce"> 努力不一定成功，但不努力一定不会成功</p>
            <div id="home_info_box">
                <p class="home-info-introduce" id="home_info1">我叫闫长路</p>
                <p class="home-info-introduce" id="home_info2">28岁</p>
                <p class="home-info-introduce" id="home_info3">一名前端研发工程师、WebGis开发工程师</p>
                <p class="home-info-introduce" id="home_info4">last513894105@163.com</p>
            </div>
        </div>
    </div>
    <div id="second-page" class="home-item" [ngStyle]="{'height': height+'px'}">
        <div class="about_content">
            <div class="about-me">
                <h1>关于我</h1>
                <div class="title-line" id="title-line">
                    <h2 id="title-depict">· About me ·</h2>
                </div>

                <div class="about_list_content">
                    <div class="about-item">
                        <div class="about_en_icon" id="about_en_edu">

                        </div>
                        <div class="about_en_dec">学历
                            <p>
                                本科
                            </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about_en_icon" id="about_en_age">

                        </div>
                        <div class="about_en_dec">年龄
                            <p>
                                29岁
                            </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about_en_icon" id="about_en_loc">

                        </div>
                        <div class="about_en_dec">地址
                            <p>
                                北京
                            </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about_en_icon" id="about_en_sta">

                        </div>
                        <div class="about_en_dec">状态
                            <p>
                                在职
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="third-page" class="home-item" [ngStyle]="{'height': height+'px'}">

    </div>
    <div id="fourth-page" class="home-item" [ngStyle]="{'height': height+'px'}">

    </div>
</div>
<ul>
    <li>
        <a [ngClass]="{'selected': select.a}" scrollTo href="#first-page" (click)='ngClick(0)'></a>
    </li>
    <li>
        <a [ngClass]="{'selected': select.b}" scrollTo href="#second-page" (click)='ngClick(1)'></a>
    </li>
    <li>
        <a [ngClass]="{'selected': select.c}" scrollTo href="#third-page" (click)='ngClick(2)'></a>
    </li>
    <li>
        <a [ngClass]="{'selected': select.d}" scrollTo href="#fourth-page" (click)='ngClick(3)'></a>
    </li>

</ul>